{% extends 'base.html.twig' %}

{% block title %}Index Product{% endblock %}

{% block body %}

    <div class="text-center mt-4">
        <h1>Bienvenid@</h1>
    </div>
    
    <h2>Lista de Productos</h2>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CATEGORIA</th>
                    <th>PRECIO</th>
                    <th>DESCRIPCION</th>
                    <th>STOCK</th>                    
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in products %}
                <tr>
                    <td>{{dato.id}}</td>
                    <td>{{dato.name}}</td>
                    <td>{{dato.category.name}}</td>
                    <td>{{dato.price}}</td>
                    <td>{{dato.description}}</td>
                    <td>{{dato.stock}}</td>                    
                    <td>
                        <a href="{{ path ('product_edit', {id : dato.id}) }}" class="btn btn-success btn-sm">
                        <i class="bi bi-pen-fill"></i> Edit</a>
                        <button value="{{ path('product_delete', {id : dato.id} )}}" class="btn btn-danger btn-sm btn-delete" id="{{ dato.id }}">
                            <i class="bi bi-trash3-fill"></i> Delete
                        </button>                                                
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   
    <div class="mt-3">
        <button class="btn btn-primary">
            <a class="nav-link white" href="{{ path ('product_create') }}">Crear Producto</a>
        </button>
    </div>

    {# Modal #}
    {% include 'modals/modal_deleted.html.twig' %} 

    {# JavaScript #}
    {% block javascript %}
        <script src="{{ asset('js/base.js') }}"></script>
    {% endblock %}

{% endblock %}
