{% extends 'base.html.twig' %}

{% block title %}Edit Sale{% endblock %}

{% block body %}

<section class="d-flex justify-content-center">
    <div class="mt-4 form-login bg-light mb-4">
        <div class="text-center p-3">
            <h2>Editar Venta</h2>
            {% if errors %}
                <div class=" alert alert-danger">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>        

        {{ form_start(form, {'attr': {'class': 'p-3', 'novalidate': '' , 'autocomplete':'off'}}) }}
            {% for message in app.flashes ('mensaje') %}
                <div class="">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="form-group">
                {{ form_label(form.client) }} 
                {{ form_widget(form.client) }}
                {{ form_errors(form.client) }}                                   
            </div>                    
            
            <!-- Token -->
            <input type="hidden" name="token" value="{{csrf_token('generico')}}">        
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" value="Editar" class="btn btn-outline-primary mt">
            </div>
        {{ form_end(form) }}
    </div>    
</section>

{% endblock %}